/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #ffffff, #ffffff);
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #00ffff;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #1900ff;
}

/* Formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.form-box {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.form-box h2 {
  margin-bottom: 20px;
  color: #1e3a8a;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #3b82f6;
}

/* Botón */
.btn {
  background-color: #3b82f6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #2563eb;
  transform: scale(1.03);
}

/* Texto redirección */
.redirect {
  margin-top: 15px;
  font-size: 0.9rem;
}

.redirect a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}

.redirect a:hover {
  text-decoration: underline;
}
