<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mis Notas</title>
  <link rel="stylesheet" href="../static/css/notas.css">
</head>
 <nav class="navbar">
      <div class="logo"><img src="/logo.png" alt="80" height="80"></div>
     <ul class="nav-links">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/templates/registrar.html" class="active">Registrar</a></li>
        <li><a href="/templates/login.html">Iniciar Sesión</a></li>
        <li><a href="/templates/Notas.html">Notas</a></li>
      </ul>
    </nav>
<body>
  <h2>Mis Notas / Recordatorios</h2>

  <form id="formNota">
    <input type="text" id="titulo" placeholder="Título de la nota" required />
    <textarea id="descripcion" placeholder="Descripción de la nota"></textarea>
    <input type="date" id="fecha" required />
    <input type="time" id="hora" required />

    <select id="prioridad" required>
      <option value="Alta">Alta</option>
      <option value="Media">Media</option>
      <option value="Baja">Baja</option>
    </select>

    <select id="categoria" required>
      <option value="1">Exámenes</option>
      <option value="2">Lecturas</option>
      <option value="3">Reuniones</option>
      <option value="4">Pagos</option>
    </select>

    <button type="submit">Agregar Nota</button>
  </form>

  <h3>Lista de Notas</h3>
  <ul id="listaNotas"></ul>
<script src="../static/js/notas.js"></script>

  <footer>
    <p>&copy; 2025 MindNote.edu -ANDRES SALAS Y BRANDON MORALES</p>
  </footer>
</body>
</html>