body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo img {
  height: 70px; /* Aumenta el tamaño del logo */
  width: auto;  /* Mantiene proporción */
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1); /* Efecto al pasar el mouse */
}
